<header>Blog-o-tron 10000</header><br>

<div class="container">
  <%= link_to "List all entries", articles_path %><br>
  <%= link_to "Create new entry", new_article_path %><br>
</div>



<div class="footer">
  Blog-o-tron last updated by Henry Hsu on May 5th, 2014.  All rights not reserved.
</div>
