/*
 * This is a manifest file that'll be compiled into application.css, which will include all the files
 * listed below.
 *
 * Any CSS and SCSS file within this directory, lib/assets/stylesheets, vendor/assets/stylesheets,
 * or vendor/assets/stylesheets of plugins, if any, can be referenced here using a relative path.
 *
 * You're free to add application-wide styles to this file and they'll appear at the top of the
 * compiled file, but it's generally better to create a new file per style scope.
 *
 *= require_self
 *= require_tree .
 */

body {
  background-color: #F2F2FF;
}

header {
  font-size: 30px;
  text-align: center;
  font-style: italic;
}

.container {
  margin-left: 100px;
  margin-right: 100px;
  padding: 20px;
  line-height: 30px;
}

a {
  text-decoration: none;
  font-style: italic;
  color: #5C85FF;
  font-size: 20px;
}

a:hover {
  color: #536DBA;
}

.footer {
  text-align: center;
  position: absolute;
  bottom: 15px;
  width: 100%;
  font-size: 12px;
}


textarea {
  vertical-align: top;
}

.new_entry{
  text-align: center;

}

